<h1><%= @place["name"] %></h1>

<ul>
  <% for entry in @entries %>
  <li>
    <a href="/entries/<%= entry["id"] %>"></a>
      <h2><%= entry["title"] %></h2>
      <h4><%= entry["posted_on"] %></h4>
      <h5><%= entry["description"] %></h5>
  </li>
  <% end %>
</ul>

<p> 
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p> 
  <a href="/places">Back to All Places</a>
</p>